<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Regex visualisation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="main-wrapper">
        <div id="regex-wrapper">
            <span contenteditable="plaintext-only" data-text="Write here your regex"></span>
            <canvas></canvas>
        </div>
        <div id="match-wrapper">
            <span contenteditable="plaintext-only" data-text="Write here your string to match"></span>
            <canvas></canvas>
            <div class="match-sign success">
              <div></div>
              <div></div>
            </div>
        </div>
    </form>
  </body>
</html>