<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Regex visualisation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="../models/RegexVisualizer.ts"></script>
    <script defer src="../models/TextEditor.ts"></script>
    <script defer>
      const vscode = acquireVsCodeApi();

      const regexVisualizer = new RegexVisualizer(
          new TextEditor(document.querySelector("#regex-wrapper > span"), document.querySelector("#regex-wrapper > canvas")),
          new TextEditor(document.querySelector("#match-wrapper > span"), document.querySelector("#match-wrapper > canvas")),
          vscode
      );
    </script>
  </head>
  <body>
    <div id="main-wrapper">
        <div id="regex-wrapper">
            <span contenteditable="true" data-text="Write here your regex"></span>
            <canvas></canvas>
        </div>
        <div id="match-wrapper">
            <span contenteditable="true" data-text="Write here your string to match"></span>
            <canvas></canvas>
        </div>
    </form>
  </body>
</html>