@base-color: #352F44;
@darker-color: #5C5470;
@light-color: #B9B4C7;
@lighter-color: #FAF0E6;

@gray-color: #1f1f1f;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

body {
    background: var(--vscode-editor-background, @base-color);
    color: var(--vscode-editor-foreground, @lighter-color);
    font-size: 16px;
}

::selection {
    color: var(--vscode-editor-selectionForeground);
    background: var(--vscode-editor-selectionBackground, @light-color);
}

#main-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    & > div > span {
        padding: 10px;
        background: var(--vscode-editor-foldBackground, @darker-color);
        color: var(--vscode-editor-foreground, @light-color);
        font-size: 16px;
        font-family: var(--vscode-editor-font-family, 'Roboto Mono'), monospace;
        font-weight: var(--vscode-editor-font-weight, 400);
        caret-color: var(--vscode-editorCursor-foreground, white);
        letter-spacing: 1px;

        &:focus-visible {
            outline: none;
        }

        &[data-text]::after {
            color: var(--vscode-editorCodeLens-foreground, @lighter-color);
            pointer-events: none;
        }
    }

    & #regex-wrapper, #match-wrapper{
        position: relative;
        display: flex;
        max-width: 100%;

        & canvas {
            position: absolute;
            pointer-events: none;
            width: 100%;
            height: 100%;
        }
    }

    & #match-wrapper{
        height: 60vh;

        & > span {
            overflow-y: auto;
            resize: none;
            width: 100%;
        }
    }

    & #regex-wrapper {
        & > span {
            resize: none;
            width: -webkit-fill-available;
        }
    }

    & [data-text]::after {
        content: attr(data-text);
    }
}

.group {
    & > .group-br {
        color: #a1cf64;
    }

    & > .group {
        & > .group-br {
            color: #54c16b;
        }

        & > .group{
            & > .group-br {
                color: #44929b;
            }

            & > .group {
                & > .group-br {
                    color: #3c6ba5;
                }

                & > .group{
                    & > .group-br{
                        color: #3b4194;
                    }

                    & > .group{
                        & > .group-br{
                            color: #8745ba;
                        }

                        & > .group{
                            & > .group-br{
                                color: #a92c71;
                            }
                        }
                    }
                }
            }
        }
    }
}

.option-pipe, .iteration-symbol{
    color: #f2581f;
}

.list-br{
    color: #fff27d;
}

.list-neg{
    color: #c70a29;
}