@base-color: #352F44;
@darker-color: #5C5470;
@light-color: #B9B4C7;
@lighter-color: #FAF0E6;

@gray-color: #1f1f1f;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

body {
    background: var(--vscode-editor-background, @base-color);
    color: var(--vscode-editor-foreground, @lighter-color);
    font-size: 16px;
}

::selection {
    color: var(--vscode-editor-selectionForeground);
    background: var(--vscode-editor-selectionBackground, @light-color);
}

#main-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;

    & > div > span {
        overflow-y: auto;
        position: relative;
        font-size: 16px;
        font-family: var(--vscode-editor-font-family, 'Roboto Mono'), monospace;
        font-weight: var(--vscode-editor-font-weight, 400);
        letter-spacing: 1px;
        white-space: break-spaces;
        tab-size: 2;
        line-height: 21px;

        caret-color: var(--vscode-editorCursor-foreground, white);
        color: var(--vscode-editor-foreground, @light-color);

        &:focus-visible {
            outline: none;
        }

        &[data-text]::after {
            color: var(--vscode-editorCodeLens-foreground, @lighter-color);
            pointer-events: none;
        }
    }

    & #regex-wrapper, #match-wrapper{
        position: relative;
        display: flex;
        max-width: 100%;
        padding: 10px;
        background: #00000044;
        border-radius: 10px;

        & canvas {
            position: absolute;
            pointer-events: none;
            width: 100%;
            height: 100%;
        }
    }

    & #match-wrapper{
        height: 60vh;

        & > span {
            resize: none;
            width: 100%;
        }
    }

    & #regex-wrapper {
        margin-bottom: 20px;
        max-height: 140px;

        & > span {
            resize: none;
            width: -webkit-fill-available;
        }
    }

    & [data-text]::after {
        content: attr(data-text);
    }

    & .tab-symbol{
        background-color: #525666;
    }

    & .new-line-symbol{
        pointer-events: none;
        display: inline;
        position: relative;
        padding-right: .5rem;
    }

    & .new-line-symbol::before {
        content: "↲";
        font-weight: 600;
        color: #525666;
        pointer-events: none;
        position: absolute;
    }
}

body.vscode-light {
    & #main-wrapper > div > span {
        caret-color: var(--vscode-editorCursor-foreground, #000);
        color: var(--vscode-editor-foreground, #000);
        background: #B9B4C7;
    }

    & .tab-symbol{
        background-color: #b1aca7;
    }

    & .new-line-symbol::before {
        color: #B9B4C7;
    }
}

.group {
    & > .group-br {
        color: #99e62c;
    }

    & .group {
        & > .group-br {
            color: #54c16b;
        }

        & .group{
            & > .group-br {
                color: #44929b;
            }

            & .group {
                & > .group-br {
                    color: #3c6ba5;
                }

                & .group{
                    & > .group-br{
                        color: #3b4194;
                    }

                    & .group{
                        & > .group-br{
                            color: #8745ba;
                        }

                        & .group{
                            & > .group-br{
                                color: #a92c71;
                            }

                            & .group{
                                & > .group-br{
                                    color: #a6020f;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.option-pipe, .iteration-symbol, .list-neg, .EOS, .SOS, .group-named, .group-nonCapturing{
    color: #f2581f;
}

.list-br{
    color: #fae102;
}

.tab-symbol{
    clip-path: polygon(0% 47%, 63.46% 47%, 51.46% 32.5%, 100% 50.27%, 51.46% 68.04%, 63.46% 54.04%, 0% 54.04%);
    background-color: #5C5470;
}

.special-char, .group-name, .escaped-char{
    color: #e96cc8;
}

.err-pos{
    background-color: red;
    color: white;
}

.match-sign{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    transition: background .2s;
    cursor: help;

    & > div:first-child, > div:last-child {
        background: white;
        position: absolute;
        transition: all .2s;
    }

    &.unsuccess{
        background: #CC0000;

        & > div:first-child{
            width: 14px;
            height: 2px;
            transform: translate(3px, 9px) rotate(45deg);
        }

        & > div:last-child{
            width: 14px;
            height: 2px;
            transform: translate(3px, 9px) rotate(-45deg);
        }
    }

    &.success{
        background: #1a911a;

        & > div:first-child{
            width: 7px;
            height: 2px;
            transform: translate(3px, 11px) rotate(45deg);
        }

        & > div:last-child{    
            width: 11px;
            height: 2px;
            transform: translate(7px, 9px) rotate(-45deg);
        }
    }

    &.idle{
        background: #696969;

        & > div:last-child{
            opacity: 0;
        }

        & > div:last-child, > div:first-child{    
            width: 6px;
            height: 6px;
            border-radius: 4px;
            transform: translate(7px, 7px) rotate(0deg);
        }
    }
}